.c_home-page-frame {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
  }
  
  .c_home-page-rectangle,
  .c_home-page-rectangle01,
  .c_home-page-rectangle02,
  .c_home-page-rectangle03 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 1440px;
  }
  
  .c_home-page-rectangle03 {
    max-width: 1441px;
  }
  
  .c_home-page-text {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text,
  .c_home-page-text01,
  .c_home-page-text02 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text01 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text02 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text03 {
    color: #729a7c;
    font-size: 22px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text03,
  .c_home-page-text04,
  .c_home-page-text05 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text04 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text05 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle04 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 1440px;
  }
  
  .c_home-page-text06 {
    width: 100%;
    max-width: 223px;
    margin-top: 0;
    min-height: 31px;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text07 {
    color: #5e8c6a;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text07,
  .c_home-page-text08,
  .c_home-page-text09 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text08 {
    width: 100%;
    max-width: 588px;
    min-height: 72px;
  }
  
  .c_home-page-text09 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text10 {
    width: 100%;
    max-width: 588px;
    min-height: 135px;
  }
  
  .c_home-page-text10,
  .c_home-page-text11,
  .c_home-page-text12 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text11 {
    color: #000;
    font-size: 54px;
    font-style: normal;
    font-family: "Work Sans",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text12 {
    width: 100%;
    max-width: 414px;
    min-height: 51px;
  }
  
  .c_home-page-text13 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-family: "Work Sans",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text13,
  .c_home-page-text14,
  .c_home-page-text15 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text14 {
    width: 100%;
    max-width: 414px;
    min-height: 51px;
  }
  
  .c_home-page-text15 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-family: "Work Sans",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text16 {
    width: 100%;
    max-width: 359px;
    min-height: 51px;
  }
  
  .c_home-page-text16,
  .c_home-page-text17,
  .c_home-page-text18 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text17 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-family: "Work Sans",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text18 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text19 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text19,
  .c_home-page-text20,
  .c_home-page-text21 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text20 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text21 {
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle05 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 582px;
    max-height: 487px;
  }
  
  .c_home-page-text22 {
    width: 100%;
    max-width: 222px;
    min-height: 31px;
  }
  
  .c_home-page-text22,
  .c_home-page-text23,
  .c_home-page-text24 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text23 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text24 {
    width: 100%;
    max-width: 341px;
    min-height: 100px;
  }
  
  .c_home-page-text25 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text25,
  .c_home-page-text26,
  .c_home-page-text27 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text26 {
    width: 100%;
    max-width: 115px;
    min-height: 31px;
  }
  
  .c_home-page-text27 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text28 {
    width: 100%;
    max-width: 341px;
    min-height: 70px;
  }
  
  .c_home-page-text28,
  .c_home-page-text29,
  .c_home-page-text30 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text29 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text30 {
    width: 100%;
    max-width: 222px;
    min-height: 31px;
  }
  
  .c_home-page-text31 {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text31,
  .c_home-page-text32,
  .c_home-page-text33 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text32 {
    width: 100%;
    max-width: 341px;
    min-height: 70px;
  }
  
  .c_home-page-text33 {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-frame01 {
    width: 100%;
    overflow: hidden;
    max-width: 560px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-rectangle06,
  .c_home-page-rectangle07,
  .c_home-page-rectangle08 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 345px;
    border-radius: 20px 20px 20px 20px;
  }
  
  .c_home-page-rectangle07,
  .c_home-page-rectangle08 {
    max-width: 344px;
  }
  
  .c_home-page-rectangle08 {
    max-width: 345px;
  }
  
  .c_home-page-text34 {
    width: 100%;
    max-width: 629px;
    margin-top: 0;
    min-height: 68px;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text35 {
    color: #fff;
    font-size: 40px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text35,
  .c_home-page-text36,
  .c_home-page-text37 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text36 {
    width: 100%;
    max-width: 109px;
    min-height: 30px;
  }
  
  .c_home-page-text37 {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle09,
  .c_home-page-rectangle10,
  .c_home-page-rectangle11 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 365px;
    border-radius: 159px 159px 159px 159px;
  }
  
  .c_home-page-rectangle11 {
    max-width: 361px;
  }
  
  .c_home-page-text38 {
    width: 100%;
    max-width: 161px;
    min-height: 28px;
  }
  
  .c_home-page-text38,
  .c_home-page-text39,
  .c_home-page-text40 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text39 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text40 {
    width: 100%;
    max-width: 161px;
    min-height: 28px;
  }
  
  .c_home-page-text41 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text41,
  .c_home-page-text42,
  .c_home-page-text43 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text42 {
    width: 100%;
    max-width: 161px;
    min-height: 28px;
  }
  
  .c_home-page-text43 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle12 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 361px;
    border-radius: 159px 159px 159px 159px;
  }
  
  .c_home-page-text44,
  .c_home-page-text45 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text44 {
    width: 100%;
    max-width: 180px;
    min-height: 28px;
  }
  
  .c_home-page-text45 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-frame02,
  .c_home-page-frame03 {
    width: 100%;
    overflow: hidden;
    max-width: 24px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-rectangle13 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 365px;
    border-radius: 159px 159px 159px 159px;
  }
  
  .c_home-page-text46,
  .c_home-page-text47 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text46 {
    width: 100%;
    max-width: 180px;
    min-height: 28px;
  }
  
  .c_home-page-text47 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-frame04 {
    width: 100%;
    overflow: hidden;
    max-width: 24px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-rectangle14 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 361px;
    border-radius: 159px 159px 159px 159px;
  }
  
  .c_home-page-text48,
  .c_home-page-text49 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text48 {
    width: 100%;
    max-width: 180px;
    min-height: 28px;
  }
  
  .c_home-page-text49 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle15 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 365px;
    border-radius: 159px 159px 159px 159px;
  }
  
  .c_home-page-text50,
  .c_home-page-text51 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text50 {
    width: 100%;
    max-width: 180px;
    min-height: 28px;
  }
  
  .c_home-page-text51 {
    color: #898585;
    font-size: 18px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-frame05,
  .c_home-page-frame06,
  .c_home-page-frame07 {
    width: 100%;
    overflow: hidden;
    max-width: 24px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-frame07 {
    max-width: 93px;
  }
  
  .c_home-page-text52 {
    width: 100%;
    max-width: 434px;
    margin-top: 0;
    min-height: 51px;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text53 {
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-family: "Work Sans",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text53,
  .c_home-page-text54,
  .c_home-page-text55 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text54 {
    width: 100%;
    max-width: 103px;
    min-height: 29px;
  }
  
  .c_home-page-text55 {
    color: #5e8c6a;
    font-size: 16px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-rectangle16,
  .c_home-page-rectangle17 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 345px;
    border-radius: 24px 24px 24px 24px;
  }
  
  .c_home-page-text56 {
    width: 100%;
    max-width: 264px;
    min-height: 98px;
  }
  
  .c_home-page-text56,
  .c_home-page-text57,
  .c_home-page-text58 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text57 {
    color: #545454;
    font-size: 12px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text58 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text59 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text59,
  .c_home-page-text60,
  .c_home-page-text61 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text60 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text61 {
    color: #9b9b9b;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-ellipse,
  .c_home-page-rectangle18 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 46px;
    border-radius: 100%;
  }
  
  .c_home-page-rectangle18 {
    max-width: 345px;
    border-radius: 24px 24px 24px 24px;
  }
  
  .c_home-page-text62 {
    width: 100%;
    max-width: 264px;
    min-height: 98px;
  }
  
  .c_home-page-text62,
  .c_home-page-text63,
  .c_home-page-text64 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text63 {
    color: #545454;
    font-size: 12px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text64 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text65 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text65,
  .c_home-page-text66,
  .c_home-page-text67 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text66 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text67 {
    color: #9b9b9b;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-ellipse1 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 46px;
    border-radius: 100%;
  }
  
  .c_home-page-text68 {
    width: 100%;
    max-width: 264px;
    min-height: 98px;
  }
  
  .c_home-page-text68,
  .c_home-page-text69,
  .c_home-page-text70 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text69 {
    color: #545454;
    font-size: 12px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text70 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text71 {
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text71,
  .c_home-page-text72,
  .c_home-page-text73 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text72 {
    width: 100%;
    max-width: 87px;
    min-height: 21px;
  }
  
  .c_home-page-text73 {
    color: #9b9b9b;
    font-size: 14px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-ellipse2 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 46px;
    border-radius: 100%;
  }
  
  .c_home-page-frame08 {
    width: 100%;
    overflow: hidden;
    max-width: 93px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-ellipse3,
  .c_home-page-ellipse4,
  .c_home-page-ellipse5 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 7px;
    border-radius: 100%;
  }
  
  .c_home-page-rectangle19 {
    width: 100%;
    height: auto;
    margin: 0;
    display: block;
    max-width: 1440px;
  }
  
  .c_home-page-text74,
  .c_home-page-text75 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text74 {
    width: 100%;
    max-width: auto;
    min-height: auto;
  }
  
  .c_home-page-text75 {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text76 {
    width: 100%;
    max-width: 328px;
    min-height: 38px;
  }
  
  .c_home-page-text76,
  .c_home-page-text77,
  .c_home-page-text78 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text77 {
    color: #747474;
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text78 {
    width: 100%;
    max-width: 333px;
    min-height: 36px;
  }
  
  .c_home-page-text79 {
    color: #5e8c6a;
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-text79,
  .c_home-page-text80,
  .c_home-page-text81 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
  }
  
  .c_home-page-text80 {
    width: 100%;
    max-width: 118px;
    min-height: 38px;
  }
  
  .c_home-page-text81 {
    color: #747474;
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0;
    text-transform: none;
  }
  
  .c_home-page-frame09,
  .c_home-page-frame10,
  .c_home-page-frame11 {
    width: 100%;
    overflow: hidden;
    max-width: 24px;
    box-sizing: border-box;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .c_home-page-line {
    width: 100%;
    height: 1px;
    margin: 0;
    display: block;
    max-width: 1196px;
    transform: rotate(0deg);
    max-height: 1px;
  }